@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body
{
    height: 100vh;
    font-family: 'Roboto';
    background: conic-gradient(from -90deg at 25% 115%, #ff0000, #ff0066, #ff00cc, #cc00ff, #6600ff, #0000ff, #0000ff, #0000ff, #0000ff);
}
.container
{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc
{
    border: 1px solid lightgray;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    padding: 0 25px;
    font-size: 1rem;
    font-weight: 100;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
img
{
    width: 3vw;
    height: 5vh;
}

.calc input
{
    box-sizing: border-box;
    width: 90%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-top-left-radius: 0;
    border-bottom-left-radius:0;    
}
.calc button
{
width: 20%;
padding: 8px;
outline: none;
cursor: pointer;
border: 1px solid lightgray;
border-radius: 5px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
background-color: whitesmoke;
}
.calc button:hover
{
background-color: rgba(0, 0, 0, 0.1);
}
#quality
{
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
#tip-amount
{
    
    min-width: 250px;
    margin: auto;
    background-color: lightgreen;
    color: white;
    bottom: 30px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
}
#tip-amount.show
{
    visibility: visible;
    -webkit-animation: fadein 0.5s,fadeout 0.5s,2.5s;
    animation:fadein 0.5s,fadeout 0.5s,2.5s ;
}
@keyframes fadein
{
    from{bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 0;}
}
@-webkit-keyframes fadeout
{
    from {bottom:30px; opacity:1;}
    to {bottom:0; opacity: 0;}
}
@keyframes fadeout
{
    from {bottom:30px; opacity: 1;}
    to{bottom: 0; opacity: 0;}
}
